.link-home-btn{
    width: 200px;
    height: 60px;
    border: 2px solid var(--purple);
    background-color: var(--purple);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}