.class-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: var(--dark);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;


  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #606060;
  }
}